.menu {
  position: relative;
  padding: 4px 10px;
  user-select: none;
}

.menu:hover {
  background: #eee;
}

.menu-list {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ccc;
  min-width: 160px;
  z-index: 100;
  padding: 4px 0;
}
