:root {
  --color-primary: #4a90e2;
  --color-primary-hover: #3a78c2;
  --color-secondary: #777;
  --color-secondary-hover: #666;
  --color-danger: #d9534f;
  --color-danger-hover: #c64541;

  --text-on-primary: #fff;
  --text-on-secondary: #fff;

  --font-weight-button: 600;
  --radius-md: 6px;
  --transition-fast: 0.15s;

  --page-width: 1280px;

}


body {
  background-color: #525252;
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
  width: 100%;
}

.full-width-container {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background: #3f3f3f;
  display: flex;
  justify-content: center;
}    

